<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/about.css">
    <link rel="shortcut icon" href="images/aboutFav.png" type="image/x-icon">
    <title>About US</title>
</head>

<body class="containerBg">
    {{>navbar}}
    <div >
        <div class="container mt-5 mb-5 contentBox">
            <div class="row p-4 align-items-center rounded-3 border shadow-lg bg-Secondary">
                <div class="col-8">
                    <h1 class="display-4 fw-bold lh-1">About Us?</h1>
                    <p class="lead">The Kabadihub is service based model to organize waste management section.The main objective of The Kabadihub is to reduce
                        to maximum waste of the society and create a healthy environment.
                    </p>
                </div>
                <div class="col-4">
                    <div class="position-lg-absolute top-0 left-0 overflow-hidden">
                        <img class="d-block rounded-lg-3" src="/images/abc.jpg" alt="" width="300">
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 mb-5 contentBox">
            <div class="row p-4 align-items-center rounded-3 border shadow-lg bg-Secondary">
                <div class="col-4">
                    <div class="position-lg-absolute top-0 left-0 overflow-hidden p-2">
                        <img class="d-block rounded-lg-3" src="/images/earth.jpg" alt="" width="350">
                    </div>
                </div>
                <div class="col-8">
                    <h1 class="display-4 fw-bold lh-1">Our Belief </h1>
                    <p class="lead"> We believe that India can be a greener and cleaner country, as every household commits to getting their dry scrap recycled,
                         not only resources can be saved from over-exploitation, but the landfills with mixed harmful garbage can be eradicated. 
                    </p>
                </div>
            </div>
        </div>
    </div>
     <div class="container mt-5 mb-5 contentBox">
            <div class="row p-4 align-items-center rounded-3 border shadow-lg bg-Secondary">
                <div class="col-4">
                    <div class="position-lg-absolute top-0 left-0 overflow-hidden p-2">
                        <img class="d-block rounded-lg-3" src="/images/Tree.jpg" alt="" width="400">
                    </div>
                </div>
                <div class="col-8">
                    <h1 class="display-4 fw-bold lh-1">Our Core Values </h1>
                    <h3 class="fw-bold lh-1">*Vision </h3>
                    <p class="lead"> Our vision is to bring a circular economy into a reality where used products are manufactured into new products
                         to minimize the over-exploitation of natural resources and maximize recycling. 
                    <h3 class="fw-bold lh-1">*Mission </h3>
                    <p class="lead">Our mission is to make a world where nothing is wasted, the communities from around the globe building an eco-system
                         of sustainable living through doing the right waste treatment that is to get it recycled.
                    <h3 class="fw-bold lh-1">*Goal </h3> 
                    <p class="lead">Through continuous innovation of technology, our goal is to make recycling achievable and accessible to all,
                         from institutions to individuals. 
                    </p>
                </div>
            </div>
        </div>
    </div>


    {{>footer}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>