    <footer class="bd-footer py-2 mt-5 bg-dark text-light">
        <div class="container py-2">
            <div class="row">
                <div class="col m-2 p-2">
                    <div class="row">
                        <div class="col-8 fs-4 text-center">
                            The Kabadihub
                        </div>
                        <div class="col-4 mt-1">
                            <img class="" src="images/instagram.svg" alt="">
                            <img class="" src="images/facebook.svg" alt="">
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="text-center">© 2021 - 2022 All rights reserved by The Kabadihub</p>

                        <p class="text-center"> Made with love in India, for the Better &amp; Green Future</p>
                    </div>
                </div>
                <div class="col m-2 p-2  text-center">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li class="nav-item"><a class="text-decoration-none link-light" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link active link-light" href="/pickup">For Pickup</a></li>
                        <li class="nav-item"><a class="nav-link active link-light" href="/contact">Contact Us</a></li>
                        <li class="nav-item"><a class="nav-link active link-light" href="/about">About Us</a></li>
                    </ul>
                </div>
                <div class="col m-2 p-2 text-center">
                    <h5>Appreciated &amp; Featured by</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">Forbes</a></li>
                        <li class="mb-2">TEDx</a></li>
                        <li class="mb-2">Yahoo</a></li>
                        <li class="mb-2">World Economic Forum</a></li>
                    </ul>
                </div>
                <div class="col m-2 p-2 text-center">
                    <h5>Trusted Partners</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">Paytm</a></li>
                        <li class="mb-2">Dominos</a></li>
                        <li class="mb-2">Reliance</a></li>
                        <li class="mb-2">ICICI Bank</a></li>
                        <li class="mb-2">Godrej</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>