/* CSS Reset */
body::before {
    content: '';
    position: absolute;
    background: url('CSSImages/home3.jpg') no-repeat center center/cover;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5;
}

* {
    margin: 0;
    padding: 0;
    /* background-image: "../app/public/images/Home.jpg"; */
}



html {
    scroll-behavior: smooth;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: rgba(0, 6, 14, 0.993);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

/* Navigation Bar: Logo and Image */
#logo {
    margin: 10px 34px;
}

#logo img {
    height: 59px;
    margin: 3px 5px;
}


/* Navigation Bar: List Styling */

#navbar ul {
    display: flex;
    font-family: combo;
}

#navbar ul li {
    list-style: none;
    font-size: 1.5rem;
    z-index: 0.9;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}

#navbar ul li a:hover {
    color: rgb(3, 6, 5);
    background-color: white;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 515px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    position: absolute;
    background: url('../bg1.jpg') no-repeat center center/cover;
    height: 600px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: combo;
}

#home p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5rem;
    font-family: combo;
}

/* Services Section */
#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: combo;

}

/* Clients Section */
#client-section {
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    /* background: url('../l.jpg'); */
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;

}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 100px;
    opacity: 0.3;
}


/* Contact Section */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;


}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: combo;

}


footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary {
    font-family: combo;
    font-size: 3.8rem;
    padding: 12px;
    /* text-shadow: 1px 1px 2px blue; */
    color: #000000;
}

.h-secondary {
    font-family: combo;
    font-size: 2.3rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    /* border: 2px solid rgb(255, 254, 254); */
    background-color: black;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-family: combo;
    box-shadow: 2px 2px rgb(255, 255, 255);

}

.center {
    text-align: center;
}

/* for footer */

/* .contentBoxFooter{
    background-color:rgb(235, 235, 235);
}

.pureWhiteFooter{
    background-color: white;
} */
.bodySection::backdrop{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../CSS/CSSImages/farak-padta-hai-background.webp') no-repeat center center/cover;
}